<ion-view hide-nav-bar="true" class="green-gradiente">
    <ion-content class="padding" style="margin-top: 90px;">
        <div class="ui center aligned">
            <div class="content">
                <div class="ui middle aligned center aligned grid login">
                    <div class="column">
                        <h2 class="ui teal header brand-logo">
                            <img src="img/logo.png">
                        </h2>
                        <form ng-submit="Cadastrar()" class="ui large form">
                            <div class="ui stacked">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="text" ng-model="cadastro.nome" placeholder="Nome">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="at icon"></i>
                                        <input type="text" name="email" ng-model="cadastro.email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="browser icon"></i>
                                        <input type="text" name="text" ng-model="cadastro.nomeDeUsuario" placeholder="Nome de usuário">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password" ng-model="cadastro.senha" placeholder="Senha">
                                    </div>
                                </div>
                                <button class="ui fluid large bg-vermelho font-branco submit button" type="submit">Cadastrar</button>
                            </div>
                            <div class="ui error message"></div>
                        </form>

                        <div class="ui message">
                            Já possui cadastro? <a href="#/app/login">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
