<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="green-gradiente-linear font-branco">
            <ion-nav-back-button class="font-branco">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon font-branco" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="green-gradiente-linear">
        <ion-header-bar class="green-gradiente-linear aligned center">
            <div class="padding-10-0" style="width: 100%;">
                <img src="img/logo.png" height="30" />
            </div>
        </ion-header-bar>
        <ion-content class="padding-10-0">
            <ion-list>
                <ion-item menu-close class="green-gradiente-linear font-branco" href="#/app/inicio">
                    Início
                </ion-item>
                <ion-item menu-close class="green-gradiente-linear font-branco" href="#/app/refeicoes">
                    Últimas refeições
                </ion-item>
                <ion-item menu-close class="green-gradiente-linear font-branco" href="#/app/recomendacoes">
                    Recomendações
                </ion-item>
                <ion-item menu-close class="green-gradiente-linear font-branco" href="#/app/nutricionistas">
                    Nutricionistas
                </ion-item>
                <ion-item menu-close class="green-gradiente-linear font-branco" href="#/app/login">
                    Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
