<ion-view view-title="Registrar Refeição">
    <ion-content class="padding">
        <div class="ui">
            <div class="content">
                <div class="column">
                    <div class="ui card">
                        <img ng-src="{{srcImage || 'img/noimage.jpg'}}" width="100%" height="100%" id="srcImage" style="display: block; margin: 0 auto;"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui">
            <div class="title">
                <button class="button button-full button-positive" ng-click="TirarFoto()">Nova Foto</button>
                <a class="button button-full button-balanced font-branco" href="#/app/refeicao-registrada">Continuar</a>
            </div>
        </div>
    </ion-content>
</ion-view>